</div><!-- end .row -->
</div>
<div class="GoTop" title="返回顶部"></div>
</div><!-- end #body -->

<footer id="footer" class="footer" role="contentinfo">
<div class="mqr"><p><img src="http://www.7tec.cn/usr/themes/7TEC/img/qr.jpg" /></p><p class="gray" ><br/>微信扫码，关注我们哟～</p></div>
  <em><a class="gray" href="http://www.beian.miit.gov.cn"  target="_blank">浙ICP备17049499号-1</a>
    &copy; 2020 <a class="gray" href="http://www.7tec.cn/">7TEC</a>.
    由 <a class="gray" href="//www.typecho.org">Typecho</a> 强力驱动.Theme by <a class="gray" href="//www.7tec.cn">7TEC.CN</a>..
  </em>
</footer><!-- end #footer -->
<script src="/assets/jquery-3.3.1.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/assets/lately.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/main.js"></script>
</body>
</html>
