<!DOCTYPE HTML>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <title>7TEC</title>

        <!-- 使用url函数转换相关路径 -->
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/typo.css">
        <link rel="stylesheet" href="/assets/style.css">

    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- 通过自有函数输出HTML头部信息 -->
<meta name="description" content="七年职场老鸟、销售精英、健身达人、电脑高手、青铜段位写手。个人公众号：7TEC，请指教！" />
<meta name="keywords" content="typecho,7tec,职场" />
</head>
<body >
<!--[if lt IE 8]>
    <div class="browsehappy" role="dialog">当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.</div>
<![endif]-->
<header id="header" class="header sticky">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a id="logo" class="logo" href="/">7TEC</a>
                <!-- <p class="description">七年职场老鸟、销售精英、健身达人、电脑高手、青铜段位写手。个人公众号：7TEC，请指教！</p> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                {% for item in site.config.menu %}
              	<!-- If has submenues -->
			            	{% if item.submenu %}
                          <li class="dropdown">
                              <a class="dropdown-toggle"	data-toggle="dropdown" href="#">
                              {{item.name}}
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  {% for subitem in item.submenu %}
                                  <li>
                                     <a href="{{subitem.link}}">
                                          {% if subitem.icon %}
                                           <i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
                                          {% endif %}
                                          {{subitem.name}}
                                      </a>
                                  </li>
                                  {% endfor %}
                               </ul>
                               </li>
                     {% else %}
			                  	<li class="nav-item"><a class="nav-link" href="{{item.link}}">{{item.name}}</a></li>
				           		{% endif %}
				             	{% endfor %}
                      </ul>
                </div>
        </nav>
    </div>
</header>

<div id="body" class="body">
    <div class="container">
        <div class="row">
