{% include header.html %}
<div class="col-12 col-lg-8" id="main" role="main">
    <article class="Card typo indexCard paddingall" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-box">
      <div class="post-title-box">
  <h2 class="post-title" itemprop="name headline">{{ post.tile }}</h2>
  </div>
             <a itemprop="url" href="http://www.7tec.cn/312.html">
              <div class='post-thumb'> <img class='thumb' src='http://www.7tec.cn/usr/uploads/2020/01/129761432.jpeg' /></div>	            <div class="post-content" itemprop="articleBody">
     <p>{% capture content %}
    {% for post in site.posts %}
        {{ post.content }}
    {% endfor %}
{% endcapture %}
{{ content | toc_generator }}
{{ content }}
</p>
              </div>
             </a>
</div>
      <div class="info">
        <ul class="post-meta">
            <li><i class="fa fa-bookmark-o" aria-hidden="true">&nbsp; </i><a href="http://www.7tec.cn/c/yuanchuang/">原创</a></li>
<li><i class="fa fa-calendar-o" aria-hidden="true">&nbsp; </i><time class="lately-a" datetime="2020-01-09T18:22:00+08:00" itemprop="datePublished">2020-01-09</time></li>
<li itemprop="interactionCount"><i class="fa fa-comments-o" aria-hidden="true">&nbsp; </i><a itemprop="discussionUrl" href="http://www.7tec.cn/312.html#comments">1</a></li>
    <li><i class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp; </i><span>40</span></li>
  </ul>
      </div>
  </article>
  <ol class="page-navigator"><li class="next"><a href="http://www.7tec.cn/page/2/">后一页 &raquo;</a></li></ol>
  </div><!-- end #main-->
{% include sidebar.html %}
{% include footer.html %}
